@tailwind base;
@tailwind components;
@tailwind utilities;

/* .task-icon, .inbox-icon {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.task-icon {
  opacity: 0;
  transform: translateX(100%);
}

.inbox-icon {
  opacity: 0;
  transform: translateX(100%);
}

.expanded .task-icon, 
.expanded .inbox-icon {
  opacity: 1;
  transform: translateX(0);
} */

